params {
    fcs = false
    outdir = false
    samplesheet = false
    container = "quay.io/hdc-workflows/immune-flow-gating:0d73249"
    container__python = "quay.io/fhcrc-microbiome/python-pandas:0fd1e29"
    channel_map = "$projectDir/bin/channel_map.json"
}

env {
    CHANNEL_MAP = "${params.channel_map}"
}

process {
    cpus = 16
    memory = 128.GB
}